composer.phar
/vendor/
vendor/
config/
#compiled/
/.frdl/
/frdlweb/
/backup*/
backup/
backup*/
cache/
custom/
data/
#dist/
#dist*/
logs/
log/
frdl.project.json
.env
node_modules/
/node_modules/
.bash
.bash*
frdl.stub.config.php
frdl.version.config.php
frdl.workspaces.php
